/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
body,
html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

/* HOME */
.home {
  background-color: #f2c4da;
  height: 100%;
  width: auto;
}

/* MAIN */
main {
  height: 100%;
  width: 100vw;
}

.home--container {
  height: 100vh;
  width: 100vw;
}

/* LOGO */
.logo {
  width: auto;
  height: 20rem;
}

.logo-nav {
  height: 5rem;
  width: auto;
}

.row--logo {
  height: 40%;
}

.row--form {
  height: 60%;
}

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: #678c5d;
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: rem;
}

form input[type="text"],
form input[type="tel"] {
  height: auto;
  width: 25rem;
  border: 1px solid #d99c9c;
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #f2f2f2;
  color: black;
  padding-left: 0.8rem;
  margin: 0.1rem 0 0.1rem 0;
}

.submit {
  height: 3rem;
  width: 8rem;
  border: 1px solid #f2f2f2;
  border-radius: 0.2rem;
  background-color: #678c5d;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.submit:hover {
  cursor: pointer;
  color: #f2f2f2;
}

.datos {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* ------------------------------------ PRODUCTOS ------------------------------------ */
.card {
  width: 25rem;
  height: 45rem;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  object-fit: cover;
  overflow: hidden;
}

.card-title {
  font-weight: bold;
  text-decoration: underline;
}

.card-text {
  font-size: 1.2rem;
}

.precio {
  font-size: 1.5rem;
}

.tortas {
  height: auto;
  width: 24rem;
  box-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.6);
}

.agregar-carrito {
  width: 12rem;
  height: 4rem;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: underline;
  background-color: #d99c9c;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
}

.agregar-carrito:hover {
  background-color: #678c5d;
}

.icon-cart {
  font-size: 2.5rem;
}

.icons {
  font-size: 2rem;
}

.instagram {
  font-size: 2rem;
}

.header {
  background-color: rgba(242, 242, 242, 0.25);
  height: 10vh;
}

.footer {
  background-color: rgba(242, 242, 242, 0.25);
  height: 8vh;
}

.saludo {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* ------------------------------------ CARRITO ------------------------------------ */
table {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2rem;
  height: auto;
  width: 100%;
  background-color: rgba(242, 242, 242, 0.25);
}

th {
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

td {
  font-size: 1.25rem;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.agregar {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  padding: 0;
  height: auto;
  background-color: #678c5d;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.agregar:hover {
  background-color: green;
}

.quitar {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #d95f8c;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
